.content {
	display: flex;
	flex-direction: column;
	gap: 8px;
	align-items: flex-start;
}

.excerpt {
	flex-grow: 1;
	position: relative;

	&::after {
		content: '';
		display: inline-block;
		width: 100%;
		height: 20px;
		position: absolute;
		left: 0;
		bottom: 0;

		background-image: linear-gradient(to top, var(--colorNeutralBackground1), transparent);

	}
}

.post {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: stretch;

	@media (max-width: 640px) {
		flex-wrap: wrap;
	}
}

.imageBlock {
	flex-basis: 256px;
	flex-grow: 0 !important;
	flex-shrink: 0;
	height: 256px;
	background-color: #333;
	border-radius: 8px;
	overflow: hidden;
}

.image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.label {
	display: flex;
	align-items: center;
	gap: 8px;

	// white-space: nowrap;
	svg {
		flex-basis: 20px;
		flex-shrink: 0;
	}
}

.labels {
	display: flex;
	gap: 8px 16px;
	flex-wrap: wrap;
}