.panel {
	display: flex;
	justify-content: space-between;
}

.wrapper {
	background-color: #11141d;
	color: #fff;

	font-family: 'Press Start 2P', sans-serif;
}

.indicators {
	display: flex;
	gap: 4px;
}

.clock {
	font-weight: 500;
}

.operator {
	font-weight: 500;
}