.title {
	font-size: 20px;
	display: block;
}

.buyer_name {
	display: block;
	font-size: 20px;
	margin-bottom: 8px;
	font-weight: 600;
	text-decoration: underline;
}

.buyer {
	display: flex;
	gap: 16px;
	align-items: center;
}

.item {
	background-color: #181b24;
	color: #fff;
	padding: 20px;
	border-radius: 16px;
	cursor: pointer;
	font-family: 'Press Start 2P';

	&[open] .buyer {
		margin-bottom: 16px;
	}

	&:hover {
		background-color: #0A224F;
	}
}

.content {
	margin-left: 80px;
	margin-bottom: 16px;
}

.avatar {
	width: 64px;
	height: 64px;
	border-radius: 999px;
	overflow: hidden;
}

.additional_info {
	display: flex;
	gap: 16px;
	margin-left: 80px;
}

.additional_item {
	display: flex;
	flex-direction: column;
}

.additional_title {
	font-size: 18px;
	margin-bottom: 12px;
}

.additional_value {
	font-size: 20px;
}

.items {
	display: flex;
	flex-direction: column;
	gap: 8px;
	min-height: calc(100vh - 32px);
	justify-content: center;
}

.avatar_image {
	object-fit: cover;
	height: 100%;
}

.wrapper {
	background: #11141d;
	height: 100vh;

	overflow-y: auto;
}