* {
	margin: 0;
	padding: 0;
	background-color: transparent;
	border: 0;
	outline: 0;
	font-family: "Flow Circular", system-ui !important;
}

a {
	color: inherit;
	text-decoration: none;
}

.provider {
	min-height: 100vh;
}

ul,
ol {
	list-style: none;
}

::-webkit-scrollbar {
	width: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;